@import './style2.css';
@import url(./colors.css);

@import './ListElement.css';

button.Button[color="deepskyblue"] {
  background-color: var(--color);
  color: whitesmoke;
  padding: 8px 15px;
  border: 1px solid #1a7c9d;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);

  i {
    display: inline-block;
  }

  span {
    color: #ffffff;
    font-weight: bolder;

    i {
      display: inline-block;
      width: 20px;
      height:  20px;
      background-color: violet;
      float: left;
    }
  }

  &:hover {
    background-color: orange;

    span {
      color: black;

      i {
        background-color: teal;
      }
    }
  }
}

Container {
  display: flex;
  flex: 1;
  position: relative;

  --background-color: pink;
  --border-color: #dda540;
  --max-width: 1100px;
  --text-align: center;
  --blue: #8360c3;
  --indigo: #3f51b5;
  --purple: #673ab7;
  --pink: #e91e63;
  --red: #f44336;
  --orange: #ff7043;
  --yellow: #ff9800;
  --green: #4caf50;
  --teal: #009688;
  --cyan: #00bcd4;
  --white: #fff;
  --gray: #999;
  --gray-dark: #555;
  --primary: #8360c3;
  --secondary: #777;
  --success: #4caf50;
  --info: #00bcd4;
  --warning: #ff7043;
  --danger: #f44336;
  --light: #fafafa;
  --dark: #293a50;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

  background-color: var(--background-color);
  border:  5px solid var(--border-color);
  box-sizing: border-box;
  padding: 50px;
  max-width: var(--max-width);
  margin: 200px auto;
  height: 800px;
  justify-content: var(--text-align);
  align-items: var(--text-align);

  span {
    font-size: 40px;
    color: #333333;
  }
}

SomeComponent(Container) {
  color: var(--success);
}

button.MyFlatButton(FlatButton) {
  border-color: #379ec1;
}

Icon[type="man4"] {
  display: inline-block;
  width: 12px;
  height: 13px;
  pointer-events: none;
}

List {
  list-style: none;

  li {
    list-style-type: none;
  }
}

FlexElement {
  display: block;
  box-sizing: border-box;
}

i.StarIcon(Icon) {
  background-image: url(//cdn.site.com/i/star.png);
}

i.FavoriteIcon(Icon) {
  background-image: url(//cdn.site.com/i/favorite.png);
}

i.CommentIcon(Icon) {
  background-image: url(//cdn.site.com/i/comment.png);
}

ul#UserList(List, FlexElement)[font-size='14'] {
  background-color: gray;
  padding: 20px;

  i {
    color: red;
    font-style: normal;
    text-decoration: underline;
    display: inline-block;
    background-color: white;
    padding: 4px;
    border-radius: 4pc;
  }

  li {
    background-color: rgba(0,0,0,0);
    margin-bottom: 4px;
    font-size: var(--font-size)px;
    border-bottom: 1px solid #ccc;

    &:hover {
      background-color: yellow;
      color: blue;
    }

    position: relative;

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: green;
      top: 5px;
      left: -12px;
      border-radius: 50%;
    }
  }
}

li.UserListItem(ListElement) {
  box-sizing: border-box;
}
